body {
    font-family: sans-serif;
    background-image: url("images/bg8.png");
    position: sticky;
}

.flexbox{ 

    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
}
.wrapper{
    position: relative;
    background-image: url("images/wrapperbg8.png");
    top: 150px;
    
}
.christmasvideo {
    position: absolute;
    left: 40px;
    right: 40px;
    top: 40px;
    bottom: 40px;
}
.banderole9 {
    position: absolute;
    right: 7px;
    bottom: 2px;
}
img {
    z-index: 1;
}