body {
font-family: sans-serif;
    background-image: url("images/bg2.png");
    position: sticky;
}

.flexbox{ 

    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
}
.wrapper{
    position: relative;
    background-image: url("images/wrapperbg2.png");
    top: 150px;
    
}


.stern1 {
position: absolute;
left: 370px;
bottom: 250px;
}
.stern1:hover {
background-image: url("images/stern_hover.png");
text-decoration: none;
}
.stern2 {
position: absolute;
right: 200px;
top: 240px;
}
.stern2:hover {
background-image: url("images/stern_hover.png");
text-decoration: none;
}
.stern3 {
position: absolute;
left: 30px;
bottom: 305px;
}
.stern3:hover {
background-image: url("images/stern_hover.png");
text-decoration: none;  
}
.stern4 {
position: absolute;
right: 420px;
bottom: 50px;
}
.stern4:hover {
background-image: url("images/stern_hover.png");
text-decoration: none; 
}

h1 {
    position: absolute;
    color: white;
    font-family: sans-serif;
    letter-spacing: -0.1em;
    font-size: 60px;
    top: 50px;
    right: 90px;
   font-weight: lighter;
}