body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://raw.githubusercontent.com/christinadae/EIA1-WiSe20-21/main/Aufgabe4/Station1/images/bg1.png);
}

.wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top: 10%;

}
.plant {
    position: absolute;
    left: 270px;
    top: 75px;
}

.penguin {
    position: absolute;
    right: 325px;
    bottom: 140px;

}

h1 {
    position: absolute;
    color: white;
    font-family: sans-serif;
    letter-spacing: -0.1em;
    font-size: 42px;
    top: 155px;
   font-weight: lighter;
}