body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/bg1.png");
    position: sticky;
    
}



.flexbox{ 

    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
}
.wrapper{
    position: relative;
    background-image: url("images/wrapperbg1.png");
    top: 150px;
    
}
    .plant {
    position: absolute;
    left: -70px;
    top: -60px;
    
}

.penguin {
    position: absolute;
    right: -17px;
    bottom: -10px;
    
}

h1 {
    position: absolute;
    color: white;
    font-family: sans-serif;
    letter-spacing: -0.1em;
    font-size: 60px;
    top: 40px;
    right: 80px;
   font-weight: lighter;
}

