body {
    background-image: url("bgimages/3.jpg");
    font-family: 'Playfair Display', serif;
    opacity: 98%;
}
.ToDoContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffecd4;
    height: 600px;
    width: 600px;
    top: 20%;
    left: 28%;
    border-style: solid;
    border-color: #eedcc6;

}

h1 {
    color: #506266;
    font-size: 55px;
    letter-spacing: 0.5em;
    font-weight: lighter;
    background-color: #ffecd4;
    text-align: center;
}

#input {
  position: relative;
  height: 70px;
  width: 590px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 20px;
  border-style: solid;
  border-color: #eedcc6;
  background-color: #fff8ef;
  

}