body {
    font-family: sans-serif;
    background-image: url("https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png");
    color:#4C4A4A;
    text-align: center;
}

.kreis {
  background: rgb(236, 224, 203);
  border-radius: 0px 0px 400px 400px;
  height: 400px;
  width: 800px;
  font-family: sans-serif;
  margin: -20px 0px 0px 230px;
  text-align: center;
  
  
  
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  padding: 3px 0px 2px 0px;
  background-color:rgb(236, 224, 203);
  letter-spacing: 0.3em;

}

#icon {
 
  opacity: 65%;
  top: 60%;
  left: 65%;
  right: 20%;
  text-align: center;
  

 

}

#icon:hover {
  opacity: 100%;
}

.currentpage {
  background-color:rgba(206, 195, 176, 0.788);
  text-decoration: none;
}
a {
  text-decoration: none;
  font-size: 20px;
  color:#4C4A4A;
  padding: 3px 3px 3px 3px;
}
.link {
  color: #363434;

  text-decoration: none;
}
.link:hover {
background-color:rgba(206, 195, 176, 0.788);
color: #4C4A4A;
text-decoration: none;

}
 .portfoliotext {
   font-family: sans-serif;
   font-size: 16px;
   text-align: center;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
   font-weight: lighter;
   color: #6d6d6d;
   

 }

  h1 {
    color:#302f2f;
    font-size: 100px;
    padding: 30px 10px 10px 10px;
    margin: -10px 7px -100px 7px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.3em;
   
  }

  h2 {
    font-size: 50px;
color:#8b8b8b;
text-align: center;
line-height: 3px;
padding: 0px 1px 1px 1px;
margin: 50px 50px 5px 50px;
font-weight: initial;
  }

  h3 {font-size: 60px;
    color:#7c7878;
    line-height: 3px;
    text-align: left;
    padding: 10px 10px 10px 227px;
   font-weight: lighter;
    letter-spacing: -0.1em;
  
  }

  h4 {  font-size: 25px;
    color:#7c7878;
    line-height: 3px;

  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p.small {
    line-height: 0.8;
  }
  
  p.big {
    line-height: 50px;
  }
  p.solid {
    border-style: solid;
    background-color:rgba(250, 250, 250, 0.788);
    border-color:rgba(250, 250, 250, 0.788);
    padding: 3px 3px 3px 3x;
    border-width: 1px;
    margin: 0px 295px 0px 295px;
  }