body {
    font-family: sans-serif;
    background-image: url("https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png");
    color:#4C4A4A;
    text-align: center;
}
.myDiv {
  background:rgba(236, 224, 203, 0.651);
  width: auto;
  padding: 10px 10px 10px 10px;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  padding: 12px 12px 12px 12px;
  background-color:rgb(189, 176, 156);

}
.currentpage {
  background-color:rgb(214, 204, 191); 
  text-decoration: none;
}
a {
  text-decoration: none;
  font-size: 20px;
  color:#4C4A4A;
  padding: 15px 15px 15px 15px;
}
.link {
  color: #363434;

  text-decoration: none;
}
.link:hover {
background-color:rgb(235, 219, 196);
color: #4C4A4A;
text-decoration: none;

}


  h1 {
    color:#4C4A4A;
    font-size: 100px;
    padding: 25px 10px 10px 10px;
    margin: 25px 7px 7px 7px;
   
  }

  h2 {
    font-size: 40px;
color:#636060;
text-align: center;
line-height: 3px;
padding: 1px 1px 1px 1px;
margin: 50px 50px 50px 50px;
  }

  h3 {
    font-size: 25px;
    color:#7c7878;
    line-height: 3px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p.small {
    line-height: 0.8;
  }
  
  p.big {
    line-height: 50px;
  }