body {
    font-family: sans-serif;
    background-image: url("https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png");
    color:#4C4A4A;
    text-align: center;
}

.kreis {
  background: rgba(236, 224, 203, 0.651);
  border-radius: 0px 0px 400px 400px;
  height: 400px;
  width: 800px;
  font-family: sans-serif;
  margin: -20px;
  text-align: center;
  
  
  
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  padding: 3px 3px 3px 3px;
  background-color:rgb(189, 176, 156);

}
.currentpage {
  background-color:rgb(214, 204, 191); 
  text-decoration: none;
}
a {
  text-decoration: none;
  font-size: 20px;
  color:#4C4A4A;
  padding: 3px 3px 3px 3px;
}
.link {
  color: #363434;

  text-decoration: none;
}
.link:hover {
background-color:rgba(236, 224, 203, 0.589);
color: #4C4A4A;
text-decoration: none;

}


  h1 {
    color:#4C4A4A;
    font-size: 100px;
    padding: -10px 10px 10px 10px;
    margin: 0px 7px 7px 7px;
   
  }

  h2 {
    font-size: 40px;
color:#636060;
text-align: center;
line-height: 3px;
padding: 0px 1px 1px 1px;
margin: 0px 50px 50px 50px;
  }

  h3 {
    font-size: 25px;
    color:#7c7878;
    line-height: 3px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p.small {
    line-height: 0.8;
  }
  
  p.big {
    line-height: 50px;
  }