html, body {
    background-color: #383838;
}

#DrumPad {
position: absolute;
height: 480px;
width: 480px;
flex-wrap: wrap;
background: #383838;
left: 30%;
top: 5%;
justify-content: center;
display: flex;
}


.button1 {
    position: relative;
    height: 150px;
    width:150px;
    margin: 5px;
    background: linear-gradient(to top, #315057, #708e94);
    border-radius: 7px;
}
.button1:hover {
    opacity: 0.8;
}
.button2 {
    position: relative;
    height: 150px;
    width:150px;
    margin: 5px;
    background: linear-gradient(to top,#51747c, #90b7c0);
    border-radius: 7px;
}
.button2:hover {
    opacity: 0.8;
}

.button3 {
    position: relative;
    height: 150px;
    width:150px;
    margin: 5px;
    background: linear-gradient(to top, #536f74, #b1d1d6);
    border-radius: 7px;
}
.button3:hover {
    opacity: 0.8;
}
.button4 {
    position: relative;
    height: 150px;
    width:150px;
    margin: 5px;
    background: linear-gradient(to top,#947e8a ,#ecd0df ) ;
    border-radius: 7px;
}
.button4:hover {
    opacity: 0.8;
}
.button5 {
    position: relative;
    height: 150px;
    width:150px;
    margin: 5px;
    background: linear-gradient(to top,#886073 , #d3acbe) ;
    border-radius: 7px;
}
.button5:hover {
    opacity: 0.8;
}
.button6 {
    position: relative;
    height: 150px;
    width:150px;
    margin: 5px;
    background: linear-gradient(to top,#753e58, #be96aa) ;
    border-radius: 7px;
}
.button6:hover {
    opacity: 0.8;
}
.button7 {
    position: relative;
    height: 150px;
    width:150px;
    margin: 5px;
    background:linear-gradient(to top,#c0a859,#ffefce ) ;
    border-radius: 7px;
}
.button7:hover {
    opacity: 0.8;
}
.button8 {
    position: relative;
    height: 150px;
    width:150px;
    margin: 5px;
    background: linear-gradient(to top,#b1714c,#ffd7c1) ;
    border-radius: 7px;
}
.button8:hover {
    opacity: 0.8;
}
.button9 {
    position: relative;
    height: 150px;
    width:150px;
    margin: 5px;
    background: linear-gradient(to top,#914949,#e4b7b7) ;
    border-radius: 7px;
}
.button9:hover {
    opacity: 0.8;
}
.playButton{
position: relative;
color: #a8a8a8;
font-size: 80px;
left: -30%;
margin: 4%;

}

.playButton:hover {
    color: #e9e9e9;
    transition-duration: 0.3s;
}
.inactive {
    display: none !important;
}



.stopButton {
    position: relative;
    color: #a8a8a8;
    font-size: 80px;
    left: -30%;
    margin: 4%;  
}
.stopButton:hover {
    color: #e9e9e9;
     transition-duration: 0.3s;
 }


.recordButton {
    position: relative;
    color: #a8a8a8;
    font-size: 80px;
    left: 25%;
    margin: 4%;
}

.recordButton:hover {
   color: #e9e9e9;
    transition-duration: 0.3s;
}




.deleteButton {
    position: relative;
    color: #a8a8a8;
    font-size: 80px;
    left: 15%;
    margin: 4%;
}

.deleteButton:hover {
    color: #e9e9e9;
    transition-duration: 0.3s;
}

.active {
  
    color: #ffd5d5;
}
