body {
	font-family: 'Dosis';
	font-size: small;
	background:  #3b3b3b;
	color: white;
	
}

a {
font-family: 'Dosis';
color: white;
background:#646363;
font-size: 35px;
text-decoration: none;

}

h1 {
    font-family: 'Dosis';
    color:white;
    font-size: 70px;
    border-bottom-style: solid;
    border-color: #646363;
    
}
h2 {
    font-family: 'Dosis';
    color:white;
    font-size: 40px;
    border-color:#646363;
    border-bottom-style:solid;
}