body {
	
	font-size: small;
	background:  #3b3b3b;
	color: white;
	font-family: 'Dosis';
}

a:link {
color:white;
background:#646363;
font-size: 30px;
font-family: 'Dosis';
text-decoration: none;

}

h1 {
    color:white;
    font-size: 70px;
    
}
h2 {
    font-family: 'Dosis';
    color:white;
    font-size: 40px;
    border-color: black;
    border-bottom-style:solid;
}